In [26]:
import pandas as pd
import numpy as np
df = pd.read_csv('validated_data.csv')
df.head()

,Unnamed: 0,id,title,tags
0,0,19995,Avatar,cultureclash future spacewar spacecolony socie...
1,1,285,Pirates of the Caribbean: At World's End,ocean drugabuse exoticisland eastindiatradingc...
2,2,206647,Spectre,spy basedonnovel secretagent sequel mi6 britis...
3,3,49026,The Dark Knight Rises,dccomics crimefighter terrorist secretidentity...
4,4,49529,John Carter,basedonnovel mars medallion spacetravel prince...